<% if logged_in? %>
	<div class="row">
		<aside class="col-md-4">

			<section class="user_info">
				<%= render 'shared/user_info' %>
			</section>
		
			<section class="stats">
				<%= render 'shared/stats' %>
			</section>
		
			<section class="micropost_form">
				<%= render 'shared/micropost_form' %>
			</section>
		
		</aside>

		<div class="col-md-8">
			<h3>Feed</h3>
			<%= render 'shared/feed' %>
		</div>

	</div>
	
<% else %>

<div class="center jumbotron">
	<h1>Bienvenidos a Bookshelf</h1>

	<%= image_tag "read-bookshelf.jpg" %>

	<p>La primera red social para amante de los libros</p>

  	<%= link_to "¡Registrate Ahora!", signup_path, class: "btn btn-lg btn-primary" %>

</div>

Powered by: <%= link_to image_tag("rails.png", alt: "Ruby on Rails"),
            'http://rubyonrails.org/' %>
<% end %>